.landing__container {
  display: flex;
  width: 100%;
  height: calc(100vh - 75px);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0 40px;
}

.landing__heading_text h1 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -5px;
  line-height: 100px;
}

.landing__heading_text {
  position: relative;
  text-align: center;
  transition: all ease 2s;
}

.outer_sqaure {
  width: 506px;
  height: 506px;
  transform: rotate(-45deg);
  border: 2px dotted #a0a4ab;
}

.left_square {
  transition: all 0.4s ease;
  position: absolute;
  left: -255px;
}

.right_square {
  transition: all 0.4s ease;
  position: absolute;
  right: -255px;
}

.landing__button {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left__button {
  transform: rotate(225deg);
  left: 60px;
  transition: all 0.3s ease;
}

.right__button {
  transform: rotate(45deg);
  transition: all 0.3s ease;
}

.landing__button_icon {
  transform: rotate(45deg);
  font-size: 10px;
}

.landing__button_container {
  display: flex;
  align-items: center;
  position: absolute;
  gap: 12px;
}

.left_text_container {
  transition: all 0.4s ease;
  left: 100px;
}

.right_text_container {
  transition: all 0.4s ease;
  right: 100px;
}

.landing__button_text {
    font-size: clamp(10px, 2px + .625vw, 14px);
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.6;
    font-size: 14px;
}

.landing__heading_span {
  display: inline-block;
  transition: all 0.4s ease;
}

/* animation */

  /* RIGHT BUTTON HOVER */
.spacer_right {
  max-width: 0;
  width: 100%;
  flex-grow: 1;
  transition: max-width 0.8s ease; 
}

.right_text_container:hover .right__button {
  transform: scale(1.2) rotate(45deg);
  margin-left: 10px;
}

.landing__container:has(.right_text_container:hover) .spacer_right{
  max-width: 100%;
}

.landing__container:has(.right_text_container:hover) .landing__heading_span{
  transform: translateX(-102px);
}

.landing__container:has(.right_text_container:hover) .left_text_container,
.landing__container:has(.right_text_container:hover) .left_square {
  opacity: 0;
}

/* LEFT BUTTON HOVER */
.spacer_left {
  max-width: 0;
  width: 100%;
  flex-grow: 1;
  transition: max-width 0.6s ease; 
}

.left_text_container:hover .left__button {
  transform: scale(1.2) rotate(225deg);
  margin-right: 10px;
}

.landing__container:has(.left_text_container:hover) .spacer_left{
  max-width: 100%;
}

.landing__container:has(.left_text_container:hover) .landing__heading_span{
  transform: translateX(102px);
}

.landing__container:has(.left_text_container:hover) .right_text_container,
.landing__container:has(.left_text_container:hover) .right_square {
  opacity: 0;
}